# OSX
.DS_Store

# Node.js
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/
!.vscode/settings.json

# Project
dist/
stats.html
.npmignore

# Python 本地版生成的报告
report/*.html

# Python 本地版克隆的远程项目
online_project/